.wrapper{
    height: calc(386px - 45px - 45px);
    display: grid;
    align-content: space-around;
    justify-content: space-around;
    grid-template-columns: 210px 210px
}

@media (max-width: 500px) {
    .wrapper{
        overflow-y: scroll;
        align-content: center;
        flex-direction: column;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
  }

  @media (max-width: 500px) {
    .component{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 200px;
    }
  }