.form{
  position: relative;
}

.form:not(:first-child){
  margin-left: 15px;
}

.input{
  cursor: pointer;
  background: #FFFFFF;
  border: 0.5px solid #BECAD6;
  box-sizing: border-box;
  border-radius: 4px;
  width: 110px;
  height: 29px;
  font-family: 'Helvetica';
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: -0.345714px;
  color: #868E96;
  display: flex;
  align-items: center;
  text-indent: 14px;
}

.options{
  position: absolute;
  background-color: #FFFFFF;
  border: 1px solid #BECAD6;
  width: 110px;
  height: fit-content;
}

.current_option{
  cursor: pointer;
  font-family: 'Helvetica';
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: -0.345714px;
  display: flex;
  align-items: center;
  text-indent: 14px;
  list-style-type: none;
  text-indent: 10px;
  height: 20px;
}

.current_option:hover{
  background-color: #007BFF;
  color: #FFFFFF;
}

.options_icons{
  position: absolute;
  right: 15px;
}

.up_arrow{
  cursor: pointer;
  content: ''; 
  margin-top: 7px;
  position: absolute;
  border: 3px solid transparent;
  border-bottom: 3px solid #000000;
}

.down_arrow{
  cursor: pointer;
  content: ''; 
  margin-top: 15px;
  position: absolute;
  border: 3px solid transparent;
  border-top: 3px solid #000000;
}