.label{
    font-family: 'Helvetica';
    font-weight: 400;
    font-size: 14px;
    line-height: 12px;
    letter-spacing: -0.18421px;
    color: #121212;
}

.input{
    cursor: pointer;
    position: relative;
    margin-top: 5px;
    width: 200px;
    height: 29px;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: 'Helvetica';
    font-weight: 400;
    font-size: 15px;
    line-height: 13px;
    letter-spacing: -0.192982px;
    color: #121212;
    display: flex;
    align-items: center;
    text-indent: 10px;
}

.input_default{
    border: 1px solid #BECAD6;
}

.input_error {
    border: 1px solid rgba(196, 24, 60, 1);
}

.icon{
    position: absolute;
    width: 7px;
    height: 7px;
    border-bottom: 3px solid #121212;
    border-left: 3px solid #121212;
    transform: rotate(-45deg);
    right: 10px;
    top: 7px
}

.options_oferflow{
    position: absolute;
    height: 200px;
    z-index: 50;
    top: 27px;
    width: 197px;
    border: 1px solid #BECAD6;
    overflow-y: scroll;
    background-color: white;
}

.options_fit_content{
    position: absolute;
    height: fit-content;
    z-index: 50;
    top: 27px;
    width: 197px;
    border: 1px solid #BECAD6;
    background-color: white;
}

.option{
    height: 25px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #BECAD6;
}

.option:hover{
    background-color: #007BFF;
    color: white;
}

.empty{
    position: absolute;
    z-index: 50;
    width: 197px;
    background-color: white;
    border: 1px solid #BECAD6;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Helvetica';
    font-weight: 400;
    color: #121212;
    top: 27px;
}

.error_message{
    position: absolute;
    height: 20px;
    font-family: 'Helvetica';
    font-weight: 400;
    font-size: 10px;
    line-height: 11px;
    letter-spacing: -0.175439px;
    color: #C4183C;
    top: 29px;
}